
@use "./util.scss" as *;

.reverse { #{prefix(animation-direction)}: reverse; }

.rotateBy { transform: rotate(custom(rotateAngle, none)); }

.rotate90 { transform: rotate(90deg); }

.rotate180 { transform: rotate(180deg); }

.rotate270 { transform: rotate(270deg); }

.flipHorizontal { transform: scaleX(-1); }

.flipVertical { transform: scaleY(-1); }

.flipBoth,
.flipHorizontal.flipVertical { transform: scale(-1); }