
@function user($k, $v) { @return var(--solid-fa6-pro-#{$k}, $v); }

@mixin default($name) {
	animation-name: $name;

	animation-delay: user(animationDelay, 0);
    animation-direction: user(animationDirection, normal);
    animation-duration: user(animationDuration, 1s);
    animation-iteration-count: user(animationIterationCount, infinite);
    animation-timing-function: user(animationTimingFunction, ease-in-out);

	@media (prefers-reduced-motion: reduce) {
		transition-delay: 0s;
		transition-duration: 0s;

		animation-delay: -1ms;
		animation-duration: 1ms;
		animation-iteration-count: 1;
	}
}