
@function user($k, $v) { @return var(--solid-fa6-pro-#{$k}, $v); }

@mixin set($k, $v) { #{k}: user($k, $v); }

@mixin default($name) {
	animation-name: $name;

	@include set(animation-delay, 0);
    @include set(animation-direction, normal);
    @include set(animation-duration, 1s);
    @include set(animation-iteration-count, infinite);
    @include set(animation-timing-function, ease-in-out);

	@media (prefers-reduced-motion: reduce) {
		transition-delay: 0s;
		transition-duration: 0s;

		animation-delay: -1ms;
		animation-duration: 1ms;
		animation-iteration-count: 1;
	}
}